@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(../fuentes/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1n-q_4MrImHCIJIZrDCvHOej.woff2) format("woff2"); }

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased; }

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box; }

.main, body, .divsearch, .divflex {
  display: flex;
  flex-direction: column; }

body {
  margin: 0;
  height: 100%; }

html {
  height: 100%; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 5px; }

::-webkit-scrollbar-track {
  background-color: #f1f1f1; }

.list {
  list-style: none;
  padding: 0; }

.list__link {
  text-decoration: none; }

.center {
  text-align: center; }

.padding {
  padding-bottom: 35px;
  padding-top: 35px; }

.page-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 0;
  text-align: center; }

.px {
  padding-left: 16px;
  padding-right: 16px; }

.tal {
  text-align: left; }

.button {
  background: #DB090A;
  color: white;
  text-decoration: none; }

.title-icon {
  position: relative;
  top: 7px; }

#facebook {
  background-image: url("../images/facebook.png"); }

#twitter {
  background-image: url("../images/twitter.png"); }

#instagram {
  background-image: url("../images/instagram.png"); }

#youtube {
  background-image: url("../images/youtube.png"); }

.header {
  background-color: #DB090A;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5); }
  .header__title {
    width: 100px;
    margin: 0; }
    .header__title-image {
      width: 100%; }

.nav {
  text-decoration: none;
  font-size: 1.5rem;
  flex-direction: row; }
  .nav-link {
    color: white; }
    .nav-link--yellow:hover {
      color: #FFCB05; }
      .nav-link--yellow:hover .nav__icon--yellow {
        color: #FFCB05; }
  .nav__icon {
    color: white;
    margin-left: 15px;
    font-size: 1.5rem;
    text-decoration: none; }

.drawer {
  background-color: #DB090A; }

.product {
  transition: all 0.3s;
  border-radius: 3px;
  background-color: #EF9A9F;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); }
  .product__link {
    text-decoration: none;
    color: white; }
  .product__icon {
    margin-left: 10px; }
  .product__image {
    width: 100%;
    border-radius: 3px;
    height: 200px;
    object-fit: cover;
    background-color: #ffffff; }

.card {
  transition: all 0.3s ease; }
  .card-img-top {
    height: 250px;
    object-fit: cover; }
  .card__text {
    height: 60px; }
  .card--zoomin:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2); }

.button--yellow:hover {
  color: #FFCB05;
  background-color: #211D1E; }

.divsearch {
  background-color: #211D1E;
  background-image: url("../images/cp1.jpg");
  background-size: cover;
  background-position: center;
  justify-content: center;
  height: 260PX; }
  .divsearch__title {
    color: white;
    mix-blend-mode: difference;
    margin: 0;
    font-size: 1.2rem; }
  .divsearch__label {
    color: white;
    mix-blend-mode: difference;
    font-size: 28px;
    position: relative;
    top: 8px; }
  .divsearch__input {
    border-radius: 3px;
    padding: 4px 8px;
    border: none;
    width: 300px; }

@media only screen and (min-width: 500px) {
  .divsearch__title,
  .title-icon {
    font-size: 1.5rem; }
  .navbar__icon {
    font-size: 2rem; } }

@media only screen and (min-width: 750px) {
  .divsearch__title,
  .title-icon {
    font-size: 2rem; }
  .navbar__icon {
    font-size: 2.5rem; } }

@media only screen and (min-width: 1000px) {
  .divsearch__title,
  .title-icon {
    font-size: 2.5rem; } }

@media only screen and (min-width: 1200px) {
  .divsearch__title,
  .title-icon {
    font-size: 3rem; } }

@media only screen and (min-width: 1300px) {
  .divsearch__title,
  .title-icon {
    font-size: 3.5rem; } }

.datos-adicionales {
  resize: none; }

#form-buttons {
  position: absolute;
  bottom: 10px;
  right: 10px; }

.div-form {
  width: 100%;
  border-radius: 3px;
  margin: 0 auto;
  padding: 0 15px; }

@media only screen and (min-width: 768px) {
  .div-form {
    width: 90%; } }

@media only screen and (min-width: 992px) {
  .div-form {
    width: 75%; } }

@media only screen and (min-width: 1200px) {
  .div-form {
    width: 60%; } }

#main-exito {
  align-items: center;
  justify-content: center;
  flex-grow: 1; }

.divflex {
  padding: 40px 15px 40px 15px; }

.divtext {
  padding-right: 32px;
  padding-left: 32px;
  margin-top: 16px; }
  .divtext__paragraph {
    text-align: justify; }

.main__image {
  padding-right: 32px;
  padding-left: 32px;
  margin-bottom: 16px; }

.main__iframe {
  width: 100%; }

@media only screen and (min-width: 768px) {
  .divflex {
    flex-direction: row; }
  .main__image {
    width: 50%;
    object-fit: cover; }
  .main__image {
    padding-right: 16px;
    padding-left: 32px; }
  .divtext {
    padding-right: 32x;
    padding-left: 16px; } }

@media only screen and (min-width: 1200px) {
  .main__image {
    width: 100%; } }

.footer {
  background-color: #DB090A;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 200; }
  .footer__link {
    width: 50px;
    height: 50px;
    display: inline-block; }
