@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(../fuentes/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1n-q_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

.main {
    @include flexDir(column);
}
body {
    @extend .main;
    margin: 0;
    height: 100%;
}

html {
    height: 100%;
}

::-webkit-scrollbar {
    width : 10px;
}

::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}