.nav {
    text-decoration: none;
    font-size: 1.5rem;
    @include flexDir(row);

    &-link {
        color: white;

        &--yellow:hover {
            color:map-get($map: $colors, $key: "contrast" );

            .nav__icon--yellow {
                color:map-get($map: $colors, $key: "contrast" );
            }
        }
    }

    &__icon {
        color: white;
        margin-left: 15px;
        font-size: 1.5rem;
        text-decoration: none;
    }

}