.product {
    transition: all 0.3s;
    border-radius: 3px;
    background-color: map-get($map: $colors, $key: "card" );
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

    &__link {
        text-decoration: none;
        color: white;
    }

    &__icon {
        margin-left: 10px;
    }

    &__image {
        width: 100%;
        border-radius: 3px;
        height: 200px;
        object-fit: cover;
        background-color: #ffffff;
    }
}

.card {
    transition: all 0.3s ease;

    &-img-top {
        height: 250px;
        object-fit: cover;
    }

    &__text{
        height: 60px;
    }
    
    &--zoomin:hover {
        cursor: pointer;
        transform: scale(1.1);
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
    }

}

.button--yellow:hover {
    color: map-get($map: $colors, $key: "contrast" );
    background-color: map-get($map: $colors, $key: "secondary" );
}