@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(../fuentes/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1n-q_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}


* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}

html {
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
}



/* START MEZCLAS */

.list {
    list-style: none;
    padding: 0;
}


.list__link {
    text-decoration: none;
}


.center {
    text-align: center;
}

.padding {
    padding-bottom: 35px;
    padding-top: 35px;
}

.page-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 0;
    text-align: center;
}

.m2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.px {
    padding-left: 16px;
    padding-right: 16px;
}

.tal {
    text-align: left;
}

.button {
    background: #DB090A;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    padding: 4px 8px;
}

.title-icon {
    position: relative;
    top: 7px;
}

#facebook {
    background-image: url("../images/facebook.png");
}

#twitter {
    background-image: url("../images/twitter.png");
}

#instagram {
    background-image: url("../images/instagram.png");
}

#youtube {
    background-image: url("../images/youtube.png");
}

/* END MEZCLAS */





/* START BLOQUE HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #DB090A;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
    padding: 15px;
}

.header__title {
    width: 100px;
    margin: 0;
}

.header__title-image {
    width: 100%;
}

/* END BLOQUE HEADER */





/* START BLOQUE NAVBAR */
.navbar {
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar__icon {
    color: white;
    margin-left: 15px;
    font-size: 1.5rem;
    text-decoration: none;
}

.navbar__icon--yellow:hover {
    color: #FFCB05;
}

/* END BLOQUE NAVBAR */







/* START BLOQUE DIVSEARCH */

.divsearch {
    background-color: #211D1E;
    background-image: url("../images/cp1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 260PX;
}

.divsearch__title {
    color: white;
    mix-blend-mode: difference;
    margin: 0;
    font-size: 1.2rem;
}

.divsearch__label {
    color: white;
    mix-blend-mode: difference;
    font-size: 28px;
    position: relative;
    top: 8px;
}


.divsearch__input {
    border-radius: 3px;
    padding: 4px 8px;
    border: none;
}

@media only screen and (min-width: 500px) {

    .divsearch__title,
    .title-icon {
        font-size: 1.5rem;
    }

    .navbar__icon {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 750px) {

    .divsearch__title,
    .title-icon {
        font-size: 2rem;
    }

    .navbar__icon {
        font-size: 2.5rem;
    }

}

@media only screen and (min-width: 1000px) {

    .divsearch__title,
    .title-icon {
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 1200px) {

    .divsearch__title,
    .title-icon {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 1300px) {

    .divsearch__title,
    .title-icon {
        font-size: 3.5rem;

    }
}

/* END BLOQUE DIVSEARCH */



/* START GRID OFERTAS */

#ofertas {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

@media only screen and (min-width: 650px) {
    #ofertas {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.5rem;
    }



}

@media only screen and (min-width: 900px) {
    #ofertas {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
    }
}

@media only screen and (min-width: 1100px) {
    #ofertas {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 2.5rem;
    }
}



/* END GRID OFERTAS */



/* START BLOQUE SECTION */

.container {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product {
    border-radius: 3px;
    background-color: #EF9A9F;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.product__link {
    text-decoration: none;
    color: white;
}

.product__link--yellow:hover {
    color: #FFCB05;
}


.product__icon {
    margin-left: 10px;
}

.product__image {
    width: 100%;
    border-radius: 3px;
    height: 200px;
    object-fit: cover;
    background-color: #ffffff;
}

/* END BLOQUE SECTION */





/* START BLOQUE FOOTER */

.footer {
    background-color: #DB090A;
    padding: 0.5rem;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 200;
}

.footer__link {
    width: 50px;
    height: 50px;
    display: inline-block;
}

/* END BLOQUE FOOTER */



/* START BLOQUE EXITO [EXITO.HTML] */

#main-exito {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* END BLOQUE EXIT0 [EXITO.HTML] */





/* START BLOQUE MAIN [NOSOTROS.HTML] */

.divflex {

    display: flex;
    padding: 40px 15px 40px 15px;
    flex-direction: column;
}

.divtext__paragraph {
    text-align: justify;
}

.main__image {
    padding-right: 15px;
}

.main__iframe {
    width: 100%;
}

@media only screen and (min-width: 768px) {

    .divflex {
        flex-direction: row;
    }

    .main__image {
        width: 50%;
        object-fit: cover;
    }
}


@media only screen and (min-width: 1200px) {

    .main__image {
        width: 100%;
    }
}


/* END BLOQUE MAIN [NOSOTROS.HTML] */





/* START BLOQUE CARRITO [CARRITO.HTML] */


.divflex__datos {
    width: 100%;
    border-radius: 3px;
}

.divflex__compra {
    width: 100%;
    border-radius: 3px;
    position: relative;
}

.datos-adicionales {
    resize: none;
    width: 100%;
    padding: 3px;
    border-radius: 3px;

}

.divflex__input {
    width: 100%;
    padding: 3px;
    border-radius: 3px;
}

.divflex__control {
    margin-bottom: 20px;
}

#form-buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

@media only screen and (min-width: 768px) {

    .divflex__Compra {
        width: 50%;
    }
}

/* END BLOQUE CARRITO [CARRITO.HTML] */




/* START BLOQUE AYUDA [AYUDA.HTML] */
.div-form {
    width: 100%;
    border-radius: 3px;
    margin: 0 auto;
    padding: 0 15px;
}



@media only screen and (min-width: 768px) {
    .div-form {
        width: 75%;

    }
}

@media only screen and (min-width: 992px) {
    .div-form {
        width: 50%;

    }
}

@media only screen and (min-width: 1200px) {
    .div-form {
        width: 60%;

    }
}

/* END BLOQUE AYUDA [AYUDA.HTML] */