<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../images/icon.ico" rel="icon" type="image/x-icon" />
	<link rel="stylesheet" href="../style/style.css">
	<title>Articulos</title>
</head>

<body class="nomargin">

	<header class="header">
		<h1 class="header__title">
			<a class="header__title-link" href="../index.html"><img class="header__title-image" src="../images/logo.png"
					alt="logo principal"></a>
		</h1>
		<nav class="center navbar">
			<a href="articulos.html" class="material-symbols-outlined navbar__icon navbar__icon--yellow">storefront</a>
			<a href="nosotros.html" class="material-symbols-outlined navbar__icon navbar__icon--yellow">
				location_away</a>
			<a href="ayuda.html" class="material-symbols-outlined navbar__icon navbar__icon--yellow">
				contact_support</a>
			<a href="carrito.html" class="material-symbols-outlined navbar__icon navbar__icon--yellow">
				shopping_cart
			</a>
		</nav>
	</header>

	<main class="center">
		<div class="padding divsearch">
			<h2 class="divsearch__title page-title"><span
					class="title-icon material-symbols-outlined">storefront</span>Articulos</h2>

		</div>

		<section>
			<div id="ofertas" class="container">

				<article class="product">
					<img class="product__image" src="../images/1.jpg" alt="Gorros Pokemon">
					<h3 class="product__title">Gorros Pokemon</h3>
					<p class="product__description">Gorros con diseño Pokemon a eleccion</p>
					<a href="../views/carrito.html" class="product__link product__link--yellow">Comprar<span
							class="material-symbols-outlined product__icon">shopping_cart</span></a>
					<p class="product__description">$1800</p>
				</article>
				<article class="product">
					<img class="product__image" src="../images/2.jpg" alt="Funko Pop Eevee">
					<h3 class="product__title">Funko Pop Eevee</h3>
					<p class="product__description">Muñeco Funko Pop coleccionable</p>
					<a href="../views/carrito.html" class="product__link product__link--yellow">Comprar<span
							class="material-symbols-outlined product__icon">shopping_cart</span></a>
					<p class="product__description">$2100</p>
				</article>
				<article class="product">
					<img class="product__image" src="../images/3.jpg" alt="Pokeball Plus">
					<h3 class="product__title">Pokeball Plus</h3>
					<p class="product__description">Joystick inalámbrico Ninintendo</p>
					<a href="../views/carrito.html" class="product__link product__link--yellow">Comprar<span
							class="material-symbols-outlined product__icon">shopping_cart</span></a>
					<p class="product__description">$2250</p>
				</article>
				<article class="product">
					<img class="product__image" src="../images/4.jpg" alt="Pikachu Toy">
					<h3 class="product__title">Pikachu Toy</h3>
					<p class="product__description">Muñecos picachu y pichu coleccionables</p>
					<a href="../views/carrito.html" class="product__link product__link--yellow">Comprar<span
							class="material-symbols-outlined product__icon">shopping_cart</span></a>
					<p class="product__description">$1890</p>
				</article>
				<article class="product">
					<img class="product__image" src="../images/5.jpg" alt="Llaveros Pokemon">
					<h3 class="product__title">Llaveros Pokemon</h3>
					<p class="product__description">Coleccion Aleatoria de llaveros. Hazte con todos!</p>
					<a href="../views/carrito.html" class="product__link product__link--yellow">Comprar<span
							class="material-symbols-outlined product__icon">shopping_cart</span></a>
					<p class="product__description">$1500</p>
				</article>
				<article class="product">
					<img class="product__image" src="../images/6.jpg" alt="Pokemon Ruby y Zafiro">
					<h3 class="product__title">Pokemon Ruby y Zafiro</h3>
					<p class="product__description">Hazte con este combo del 40% con esta super oferta</p>
					<a href="../views/carrito.html" class="product__link product__link--yellow">Comprar<span
							class="material-symbols-outlined product__icon">shopping_cart</span></a>
					<p class="product__description">$1980</p>
				</article>
				<article class="product">
					<img class="product__image" src="../images/7.jpg" alt="Pokemon Ultra Sol y Ultra Luna">
					<h3 class="product__title">Pokemon Ultra Sol y Ultra Luna</h3>
					<p class="product__description">Ya disponible la nueva region!</p>
					<a href="../views/carrito.html" class="product__link product__link--yellow">Comprar<span
							class="material-symbols-outlined product__icon">shopping_cart</span></a>
					<p class="product__description">$2200</p>
				</article>
				<article class="product">
					<img class="product__image" src="../images/8.jpg" alt="Estuche Nintendo">
					<h3 class="product__title">Estuche Nintendo</h3>
					<p class="product__description">Transporta tu consola con la mayor proteccion y comodidad</p>
					<a href="../views/carrito.html" class="product__link product__link--yellow">Comprar<span
							class="material-symbols-outlined product__icon">shopping_cart</span></a>
					<p class="product__description">$1700</p>
				</article>
				<article class="product">
					<img class="product__image" src="../images/evees.jpg" alt="Producto9">
					<h3 class="product__title">Peluches coleccionables</h3>
					<p class="product__description">Peluche de evee y sus evoluciones</p>
					<a href="../views/carrito.html?producto=peluche"
						class="product__link product__link--yellow">Comprar<span
							class="material-symbols-outlined product__icon">shopping_cart</span></a>
					<p class="product__description">$4350</p>
				</article>

				<article class="product">
					<img class="product__image" src="../images/perladiamante.jpg" alt="Producto10">
					<h3 class="product__title">Pokemon Perla y Diamante</h3>
					<p class="product__description">Redescubri esta maravillosa entrega!</p>
					<a href="../views/carrito.html?producto=juego"
						class="product__link product__link--yellow">Comprar<span
							class="material-symbols-outlined product__icon">shopping_cart</span></a>
					<p class="product__description">$3980</p>
				</article>
				<article class="product">
					<img class="product__image" src="../images/headphones.png" alt="Producto11">
					<h3 class="product__title">Headphones</h3>
					<p class="product__description">Auriculares Pokemon con cancelador de ruidos</p>
					<a href="../views/carrito.html?producto=headphones"
						class="product__link product__link--yellow">Comprar<span
							class="material-symbols-outlined product__icon">shopping_cart</span></a>
					<p class="product__description">$2800</p>
				</article>

				<article class="product">

					<img class="product__image" src="../images/joystick.jpg" alt="Producto12">
					<h3 class="product__title">Joystick</h3>
					<p class="product__description">Joystick Pokemon inalambrico. con alta capacidad de carga</p>
					<a href="../views/carrito.html?producto=joystick"
						class="product__link product__link--yellow">Comprar<span
							class="material-symbols-outlined product__icon">shopping_cart</span></a>
					<p class="product__description">$3990</p>

				</article>

				<article class="product">

					<img class="product__image" src="../images/sun.jpg" alt="Producto13">
					<h3 class="product__title">Pokemon sun</h3>
					<p class="product__description">Juego Pokemon Sun para Nintendo 3DS</p>
					<a href="../views/carrito.html?producto=juego"
						class="product__link product__link--yellow">Comprar<span
							class="material-symbols-outlined product__icon">shopping_cart</span></a>
					<p class="product__description">$2999</p>

				</article>

			</div>

		</section>
		<div>


		</div>
	</main>
	<footer class="center footer">
		<nav>
			<a id="facebook" class="footer__link" href="https://www.facebook.com/" target="_blank">
			</a>
			<a id="instagram" class="footer__link" href="https://www.instagram.com/" target="_blank">
			</a>
			<a id="twitter" class="footer__link" href="https://www.twitter.com" target="_blank">
			</a>
			<a id="youtube" class="footer__link" href="https://www.youtube.com" target="_blank">
			</a>
		</nav>
		<p>Copyright &copy; 2022 Arturo Gabriel Ramirez</p>
	</footer>
</body>

</html>