<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description"
		content="Bienvenidos a nuestra seccion de la tienda oficial! Haga su compra con garantía de confianza">
	<meta name="keywords" content="pokemon, productos, tienda, online, comprar, oficial, videojuego, accesorios">
	<link href="../images/icon.ico" rel="icon" type="image/x-icon" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/main.css">
	<title>Articulos</title>
</head>

<body class="nomargin">

	<header class="navbar navbar-expand-lg header">
		<div class="container-fluid">
			<h1 class="navbar-brand header__title">
				<a class="header__title-link" href="../index.html"><img class="header__title-image"
						src="../images/logo.png" alt="logo principal"></a>
			</h1>
			<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
				data-bs-target="#offcanvas" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="offcanvas offcanvas-start drawer justify-content-center" id="offcanvas">
				<nav class="ms-lg-auto nav navbar navbar-nav flex-column flex-lg-row ">
					<a href="articulos.html" class="nav-item nav-link nav-link--yellow">Articulos <span
							class="material-symbols-outlined nav__icon nav__icon--yellow">storefront</span></a>
					<a href="nosotros.html" class="nav-item nav-link nav-link--yellow">
						Nosotros <span
							class="material-symbols-outlined nav__icon nav__icon--yellow">location_away</span></a>
					<a href="ayuda.html" class="nav-item nav-link nav-link--yellow">
						Ayuda <span
							class="material-symbols-outlined nav__icon nav__icon--yellow">contact_support</span></a>
					<a href="carrito.html" class="nav-item nav-link nav-link--yellow">Carrito <span
							class="material-symbols-outlined nav__icon nav__icon--yellow">shopping_cart</span></a>
				</nav>
			</div>
		</div>
	</header>

	<main class="main center">
		<div class="padding divsearch">
			<h2 class="divsearch__title page-title"><span
					class="title-icon material-symbols-outlined">storefront</span>Articulos</h2>

		</div>

		<section class="py-4">
			<div class="container">
				<div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-4">
					<div>
						<div class="card card--zoomin">
							<img src="../images/1.jpg" class="card-img-top" alt="Gorros Pokemon">
							<div class="card-body product">
								<h3 class="card-title text-truncate">Gorros Pokemon</h3>
								<p class="card-text card__text">Gorros con diseño Pokemon a eleccion</p>
								<a href="carrito.html" class="btn button button--yellow">Comprar</a>
								<p class="product__description">$1800</p>
							</div>
						</div>
					</div>
	
					<div>
						<div class="card card--zoomin">
							<img src="../images/2.jpg" class="card-img-top" alt="Funko Pop Eevee">
							<div class="card-body product">
								<h3 class="card-title text-truncate">Funko Pop Eevee</h3>
								<p class="card-text card__text">Muñeco Funko Pop coleccionable</p>
								<a href="carrito.html" class="btn button button--yellow">Comprar</a>
								<p class="product__description">$2100</p>
							</div>
						</div>
					</div>
	
					<div>
						<div class="card card--zoomin">
							<img src="../images/3.jpg" class="card-img-top" alt="Pokeball Plus">
							<div class="card-body product">
								<h3 class="card-title text-truncate">Pokeball Plus</h3>
								<p class="card-text card__text">Joystick inalámbrico Ninintendo</p>
								<a href="carrito.html" class="btn button button--yellow">Comprar</a>
								<p class="product__description">$2250</p>
							</div>
						</div>
					</div>
	
					<div>
						<div class="card card--zoomin">
							<img src="../images/4.jpg" class="card-img-top" alt="Pikachu Toy">
							<div class="card-body product">
								<h3 class="card-title text-truncate">Pikachu Toy</h3>
								<p class="card-text card__text">Muñecos picachu y pichu coleccionables</p>
								<a href="carrito.html" class="btn button button--yellow">Comprar</a>
								<p class="product__description">$1890</p>
							</div>
						</div>
					</div>
	
					<div>
						<div class="card card--zoomin">
							<img src="../images/5.jpg" class="card-img-top" alt="Llaveros Pokemon">
							<div class="card-body product">
								<h3 class="card-title text-truncate">Llaveros Pokemon</h3>
								<p class="card-text card__text">Coleccion Aleatoria de llaveros. Hazte con todos!</p>
								<a href="carrito.html" class="btn button button--yellow">Comprar</a>
								<p class="product__description">$1500</p>
							</div>
						</div>
					</div>
	
					<div>
						<div class="card card--zoomin">
							<img src="../images/6.jpg" class="card-img-top" alt="Pokemon Ruby y Zafiro">
							<div class="card-body product">
								<h3 class="card-title text-truncate">Pokemon Ruby y Zafiro</h3>
								<p class="card-text card__text">Hazte con este combo del 40% con esta super oferta</p>
								<a href="carrito.html" class="btn button button--yellow">Comprar</a>
								<p class="product__description">$1980</p>
							</div>
						</div>
					</div>
	
					<div>
						<div class="card card--zoomin">
							<img src="../images/7.jpg" class="card-img-top" alt="Pokemon Ultra Sol y Ultra Luna">
							<div class="card-body product">
								<h3 class="card-title text-truncate">Pokemon Ultra Sol y Ultra Luna</h3>
								<p class="card-text card__text">Ya disponible la nueva region!</p>
								<a href="carrito.html" class="btn button button--yellow">Comprar</a>
								<p class="product__description">$4200</p>
							</div>
						</div>
					</div>
	
					<div>
						<div class="card card--zoomin">
							<img src="../images/8.jpg" class="card-img-top" alt="Estuche Nintendo">
							<div class="card-body product">
								<h3 class="card-title text-truncate">Estuche Nintendo</h3>
								<p class="card-text card__text">Transporta tu consola con la mayor proteccion y comodidad
								</p>
								<a href="carrito.html" class="btn button button--yellow">Comprar</a>
								<p class="product__description">$1700</p>
							</div>
						</div>
					</div>
	
	
	
					<div>
						<div class="card card--zoomin">
							<img src="../images/evees.jpg" class="card-img-top" alt="Peluches coleccionables">
							<div class="card-body product">
								<h3 class="card-title text-truncate">Peluches coleccionables</h3>
								<p class="card-text card__text">Peluche de evee y sus evoluciones</p>
								<a href="carrito.html" class="btn button button--yellow">Comprar</a>
								<p class="product__description">$4350</p>
							</div>
						</div>
					</div>
					<div>
						<div class="card card--zoomin">
							<img src="../images/perladiamante.jpg" class="card-img-top" alt="Pokemon Perla y Diamante">
							<div class="card-body product">
								<h3 class="card-title text-truncate">Pokemon Perla y Diamante</h3>
								<p class="card-text card__text">Redescubri esta maravillosa entrega!</p>
								<a href="carrito.html" class="btn button button--yellow">Comprar</a>
								<p class="product__description">$3980</p>
							</div>
						</div>
					</div>
					<div>
						<div class="card card--zoomin">
							<img src="../images/headphones.png" class="card-img-top" alt="Headphones">
							<div class="card-body product">
								<h3 class="card-title text-truncate">Headphones</h3>
								<p class="card-text card__text">Auriculares Pokemon con cancelador de ruidos</p>
								<a href="carrito.html" class="btn button button--yellow">Comprar</a>
								<p class="product__description">$2800</p>
							</div>
						</div>
					</div>
					<div>
						<div class="card card--zoomin">
							<img src="../images/joystick.jpg" class="card-img-top" alt="Joystick">
							<div class="card-body product">
								<h3 class="card-title text-truncate">Joystick</h3>
								<p class="card-text card__text">Joystick Pokemon inalambrico. con alta capacidad de carga
								</p>
								<a href="carrito.html" class="btn button button--yellow">Comprar</a>
								<p class="product__description">$3990</p>
							</div>
						</div>
					</div>
					<div>
						<div class="card card--zoomin">
							<img src="../images/sun.jpg" class="card-img-top" alt="Pokemon Sun">
							<div class="card-body product">
								<h3 class="card-title text-truncate">Pokemon Sun</h3>
								<p class="card-text card__text">Juego Pokemon Sun para Nintendo 3DS</p>
								<a href="carrito.html" class="btn button button--yellow">Comprar</a>
								<p class="product__description">$2999</p>
							</div>
						</div>
					</div>	
					<div>
						<div class="card card--zoomin">
							<img src="../images/moon.jpg" class="card-img-top" alt="Pokemon Moon">
							<div class="card-body product">
								<h3 class="card-title text-truncate">Pokemon Moon</h3>
								<p class="card-text card__text">Juego Pokemon Moon para Nintendo 3DS</p>
								<a href="carrito.html" class="btn button button--yellow">Comprar</a>
								<p class="product__description">$2999</p>
							</div>
						</div>
					</div>	
				</div>
			</div>

		</section>

	</main>
	<footer class="center footer">
		<nav>
			<a id="facebook" class="footer__link" href="https://www.facebook.com/" target="_blank">
			</a>
			<a id="instagram" class="footer__link" href="https://www.instagram.com/" target="_blank">
			</a>
			<a id="twitter" class="footer__link" href="https://www.twitter.com" target="_blank">
			</a>
			<a id="youtube" class="footer__link" href="https://www.youtube.com" target="_blank">
			</a>
		</nav>
		<p>Copyright &copy; 2022 Arturo Gabriel Ramirez</p>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</body>

</html>