<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description"
		content="Centro de ayuda PokemonStore. Contactenos para poder brindarles una mejor experiencia">
	<meta name="keywords" content="pokemon, tienda, productos, ayuda, online, oficial, consulta, asesor">
	<link href="../images/icon.ico" rel="icon" type="image/x-icon" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/main.css">
	<title>Ayuda</title>
</head>

<body class="nomargin">
	<header class="navbar navbar-expand-lg header">
		<div class="container-fluid">
			<h1 class="navbar-brand header__title">
				<a class="header__title-link" href="../index.html"><img class="header__title-image"
						src="../images/logo.png" alt="logo principal"></a>
			</h1>
			<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
				data-bs-target="#offcanvas" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="offcanvas offcanvas-start drawer justify-content-center" id="offcanvas">
				<nav class="ms-lg-auto nav navbar navbar-nav flex-column flex-lg-row ">
					<a href="articulos.html" class="nav-item nav-link nav-link--yellow">Articulos <span
							class="material-symbols-outlined nav__icon nav__icon--yellow">storefront</span></a>
					<a href="nosotros.html" class="nav-item nav-link nav-link--yellow">
						Nosotros <span
							class="material-symbols-outlined nav__icon nav__icon--yellow">location_away</span></a>
					<a href="ayuda.html" class="nav-item nav-link nav-link--yellow">
						Ayuda <span
							class="material-symbols-outlined nav__icon nav__icon--yellow">contact_support</span></a>
					<a href="carrito.html" class="nav-item nav-link nav-link--yellow">Carrito <span
							class="material-symbols-outlined nav__icon nav__icon--yellow">shopping_cart</span></a>
				</nav>
			</div>
		</div>
	</header>
	<main class="main">
		<div class="padding divsearch">
			<h2 class="divsearch__title page-title"><span
					class="title-icon material-symbols-outlined">contact_support</span>Ayuda</h2>
		</div>
		<div class="pt-4">
			<p class=" center title2">Contactate con nuestros especialistas</p>
			<div class="padding div-form">
				<form action="exito.html">
					<div class="mb-3">
						<label class="form-label" for="name">Nombre</label>
						<input class="form-control divflex__input" type="text" id="name"
							placeholder="Arturo Gabriel Ramirez">
					</div>
					<div class="mb-3">
						<label class="form-label" for="email">E-mail</label>
						<input class="form-control divflex__input" type="text" id="email"
							placeholder="example@mail.com">
					</div>
					<div class="mb-3">
						<label class="form-label" for="consulta">Manda tu consulta</label>
						<textarea class="form-control datos-adicionales" name="consulta" id="consulta" cols="60"
							rows="5"></textarea>
					</div>
					<input class="btn button button--yellow" type="reset" value="Cancelar">
					<input class="btn button button--yellow" type="submit" value="Enviar">
				</form>
				<section class="padding">
					<h3 class="padding title2">Preguntas Frecuentes.</h3>
					<ol class="list">
						<li class="list__item">
							<a class="list__link" href="#texto1" data-bs-toggle="collapse"
								data-bs-target="#texto1">Cuanto demora el envio?</a>
						</li>
						<li class="list__item">
							<a class="list__link" href="#texto2" data-bs-toggle="collapse" data-bs-target="#texto2">Que
								metodos de pago aceptan?</a>
						</li>
						<li class="list__item"><a class="list__link" href="#texto3" data-bs-toggle="collapse"
								data-bs-target="#texto4">Se aceptan devoluciones?</a>
						</li>
						<li class="list__item">
							<a class="list__link" href="#texto4" data-bs-toggle="collapse" data-bs-target="#texto4">Si
								me cobraron y el pago me fue rechazado.Que hago?</a>
						</li>
						<li class="list__item">
							<a class="list__link" href="#texto5" data-bs-toggle="collapse" data-bs-target="#texto5">El
								producto nunca llego</a>
						</li>
					</ol>
					<div class="accordion">
						<div class="accordion-item">
							<h4 id="pregunta1" class="accordion-header">
								<button class="accordion-button" data-bs-toggle="collapse"
									data-bs-target="#texto1">Cuanto demora el envio?
								</button>
							</h4>
							<div id="texto1" class="accordion-collapse collapse">
								<p class="accordion-body">Lorem ipsum dolor, sit amet consectetur, adipisicing elit.
									Itaque id officiis rem veniam
									laboriosam alias
									minima culpa ab quod, fugit voluptate deleniti nostrum sunt incidunt repellendus
									animi
									qui
									asperiores
									molestiae. Lorem ipsum dolor sit, amet consectetur, adipisicing elit. Reprehenderit
									eos
									veritatis illum
									error dolore sed unde minus, velit, labore earum, recusandae. Tempora, incidunt
									harum
									expedita
									sapiente
									ipsa dolor, itaque facere.</p>
							</div>
						</div>
						<div class="accordion-item">
							<h4 id="pregunta2" class="accordion-header">
								<button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#texto2"> Que
									metodos de pago aceptan?
								</button>
							</h4>
							<div id="texto2" class="accordion-collapse collapse">
								<p class="accordion-body">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
									Facere, eveniet ipsum iste ad
									culpa,
									suscipit
									cum commodi, provident magni amet a explicabo quasi sit nihil enim reiciendis quas
									molestias
									omnis?Lorem
									ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at maiores atque
									repellat
									dolor
									nam! Quam
									aliquid magnam tenetur ex saepe eos natus, dicta totam, mollitia unde nam
									necessitatibus
									quos.
								</p>
							</div>
						</div>
						<div class="accordion-item">
							<h4 id="pregunta3" class="accordion-header">
								<button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#texto3">Se
									aceptan devoluciones?
								</button>
							</h4>
							<div id="texto3" class="accordion-collapse collapse">
								<p class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Accusamus natus sit rem eos
									laboriosam
									modi
									harum maxime, quo? Suscipit, eos necessitatibus incidunt fuga temporibus similique
									quas.
									Amet,
									accusantium! Est, illum?</p>
							</div>
						</div>
						<div class="accordion-item">
							<h4 id="pregunta4" class="accordion-header">
								<button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#texto4">Si
									me cobraron y el pago me fue rechazado. Que hago?
								</button>
							</h4>
							<div id="texto4" class="accordion-collapse collapse">
								<p class="accordion-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
									Necessitatibus sapiente
									perferendis
									corrupti
									incidunt, minima. Deserunt obcaecati inventore fugiat accusantium quae, dicta,
									asperiores
									officia
									praesentium velit eaque, maxime doloremque, iure modi.</p>
							</div>
						</div>
						<div class="accordion-item">
							<h4 id="pregunta5" class="accordion-header">
								<button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#texto5">El
									producto nunca llego
								</button>
							</h4>
							<div id="texto5" class="accordion-collapse collapse">
								<p class="accordion-body">Lorem ipsum dolor it amet consectetur adipisicing, elit.
									Officiis, molestias error
									repudiandae
									nobis,
									doloremque tempora est omnis, voluptates magnam, optio sed odio debitis. Corrupti
									cupiditate nam
									deleniti dolore mollitia? Vero!</p>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</main>
	<footer class="center footer">
		<nav>
			<a id="facebook" class="footer__link" href="https://www.facebook.com/" target="_blank">
			</a>
			<a id="instagram" class="footer__link" href="https://www.instagram.com/" target="_blank">
			</a>
			<a id="twitter" class="footer__link" href="https://www.twitter.com" target="_blank">
			</a>
			<a id="youtube" class="footer__link" href="https://www.youtube.com" target="_blank">
			</a>
		</nav>
		<p>Copyright &copy; 2022 Arturo Gabriel Ramirez</p>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</body>

</html>