<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../images/icon.ico" rel="icon" type="image/x-icon" />
	<link rel="stylesheet" href="../style/style.css">
	<title>Nosotros</title>
</head>

<body class="nomargin">
	<header class="header">
		<h1 class="header__title">
			<a class="header__title-link" href="../index.html"><img class="header__title-image" src="../images/logo.png"
					alt="logo principal"></a>
		</h1>
		<nav class="center navbar">
			<a href="articulos.html" class="material-symbols-outlined navbar__icon navbar__icon--yellow">storefront</a>
			<a href="nosotros.html" class="material-symbols-outlined navbar__icon navbar__icon--yellow">
				location_away</a>
			<a href="ayuda.html" class="material-symbols-outlined navbar__icon navbar__icon--yellow">
				contact_support</a>
			<a href="carrito.html" class="material-symbols-outlined navbar__icon navbar__icon--yellow">
				shopping_cart
			</a>
		</nav>
	</header>

	<main>
		<div class="padding divsearch">
			<h2 class="divsearch__title page-title"><span
					class="title-icon material-symbols-outlined">location_away</span>Nosotros</h2>
		</div>

		<div class="divflex">

			<img class="main__image" src="../images/store.jpg" alt="Imagen de tienda">

			<div class="divtext">

				<p cLass="m2 divtext__paragraph">Somos Pokemon Store. Una empresa con mas de 2 decadas de experiencia en
					traer la
					tienda oficial de
					Pokemon
					company a la Argentina</p>
				<p cLass="m2 divtext__paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, culpa
					ducimus
					deleniti temporibus
					odio
					voluptas ex odit tenetur nulla, aspernatur consequatur quisquam id quasi accusamus dolore quas? Est
					laborum,
					consectetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis tenetur temporibus
					officiis
					fugit iste! Quis itaque veniam amet nostrum ducimus consequuntur magni excepturi temporibus totam
					quod.
					Eveniet quo, repudiandae nostrum?Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Vel,
					cupiditate.
					Sint sit fuga commodi laboriosam eius in error enim reprehenderit inventore aperiam et ipsam
					nesciunt,
					officiis totam possimus eum odio.</p>
				<p cLass="m2 divtext__paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui enim
					possimus
					cupiditate, quis nulla
					voluptates
					tempore aperiam, illum et quo nemo ex itaque repudiandae dicta quas earum nesciunt distinctio
					explicabo.
				</p>
			</div>
		</div>
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5517.791476724983!2d-58.362057676455244!3d-34.682512568661856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sar!4v1653585376946!5m2!1sen!2sar"
			width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
			referrerpolicy="no-referrer-when-downgrade" class="main__iframe"></iframe>
	</main>
	<footer class="center footer">
		<nav>
			<a id="facebook" class="footer__link" href="https://www.facebook.com/" target="_blank">
			</a>
			<a id="instagram" class="footer__link" href="https://www.instagram.com/" target="_blank">
			</a>
			<a id="twitter" class="footer__link" href="https://www.twitter.com" target="_blank">
			</a>
			<a id="youtube" class="footer__link" href="https://www.youtube.com" target="_blank">
			</a>
		</nav>
		<p>Copyright &copy; 2022 Arturo Gabriel Ramirez</p>
	</footer>
</body>

</html>