<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description"
		content="Somos distribuidores oficiales certificados por la marca desde hace ya mas de 20 años.">
	<meta name="keywords"
		content="pokemon, distribuidores, productos, tienda, online, certificado, información, oficial">
	<meta name="author" content="Arturo Gabriel Ramirez">
	<link href="../images/icon.ico" rel="icon" type="image/x-icon" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/main.css">
	<title>Nosotros</title>
</head>

<body class="nomargin">
	<header class="navbar navbar-expand-lg header">
		<div class="container-fluid">
			<h1 class="navbar-brand header__title">
				<a class="header__title-link" href="../index.html"><img class="header__title-image"
						src="../images/logo.png" alt="logo principal"></a>
			</h1>
			<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="offcanvas offcanvas-start drawer justify-content-center" id="offcanvas">
				<nav class="ms-lg-auto nav navbar navbar-nav flex-column flex-lg-row ">
					<a href="articulos.html" class="nav-item nav-link nav-link--yellow">Articulos <span
							class="material-symbols-outlined nav__icon nav__icon--yellow">storefront</span></a>
					<a href="nosotros.html" class="nav-item nav-link nav-link--yellow">
						Nosotros <span
							class="material-symbols-outlined nav__icon nav__icon--yellow">location_away</span></a>
					<a href="ayuda.html" class="nav-item nav-link nav-link--yellow">
						Ayuda <span
							class="material-symbols-outlined nav__icon nav__icon--yellow">contact_support</span></a>
					<a href="carrito.html" class="nav-item nav-link nav-link--yellow">Carrito <span
							class="material-symbols-outlined nav__icon nav__icon--yellow">shopping_cart</span></a>
				</nav>
			</div>
		</div>
	</header>
	<main class="main">
		<div class="padding divsearch">
			<h2 class="divsearch__title page-title"><span
					class="title-icon material-symbols-outlined">location_away</span>Nosotros</h2>
		</div>
		<div class="divflex">
			<img class="main__image" src="../images/store.jpg" alt="Imagen de nuestra tienda">
			<div class="divtext">
				<p cLass="divtext__paragraph">Somos Pokemon Store. Una empresa con mas de 2 decadas de experiencia en
					traer la tienda oficial de Pokemon company a la Argentina</p>
				<p cLass="my-4 divtext__paragraph">Nos enfocamos en diseños únicos y productos de alta calidad para
					todas las edades. Pokémon se lanzó en Japón en 1996 y hoy es una de las propiedades de
					entretenimiento infantil más populares del mundo.
					Tanto si eres jugador, coleccionista, padre, profesor o fanático, nos esforzamos por ofrecer
					artículos con una amplia gama de Pokémon para que puedas expresarte.
					Siempre estamos abiertos. ¡Ven a saludar y echa un vistazo al amplio mundo de Pokémon!</p>
				<p cLass="divtext__paragraph">Administrado por The Pokémon Company International, PokemonStore ofrece
					una auténtica colección de peluches, ropa, artículos para el hogar y accesorios.
					The Pokémon Company International, una subsidiaria de The Pokémon Company en Japón, administra la
					propiedad fuera de Asia y es responsable de la gestión de la marca, la concesión de licencias, el
					marketing, el juego de cartas coleccionables Pokémon, la serie de televisión animada, el
					entretenimiento en el hogar y el sitio web oficial de Pokémon. .
					Fieles al espíritu Pokémon, los productos del PokemonStore se fabrican de acuerdo con nuestros altos
					estándares.
				</p>
			</div>
		</div>
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5517.791476724983!2d-58.362057676455244!3d-34.682512568661856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sar!4v1653585376946!5m2!1sen!2sar"
			width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
			referrerpolicy="no-referrer-when-downgrade" class="main__iframe"></iframe>
	</main>
	<footer class="center footer">
		<nav>
			<a id="facebook" class="footer__link" href="https://www.facebook.com/" target="_blank">
			</a>
			<a id="instagram" class="footer__link" href="https://www.instagram.com/" target="_blank">
			</a>
			<a id="twitter" class="footer__link" href="https://www.twitter.com" target="_blank">
			</a>
			<a id="youtube" class="footer__link" href="https://www.youtube.com" target="_blank">
			</a>
		</nav>
		<p>Copyright &copy; 2022 Arturo Gabriel Ramirez</p>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</body>

</html>